#teacherCard{
    border-radius: 20px;
    background-color: white;
    width: 80%;
    padding: 20px;
    margin-bottom: 200px;
}
#extraData {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    height: 70px;
}
#extraData p {
    margin-right: 20px;
}
h1 {
    margin: 0;
}
#teacherListAvatar {
    border-radius: 20px;
    width: 200px;
    object-fit: contain;
}
#teacherCardName {
    display: flex;
    width: 100%;
    justify-content: space-between;
}