#teacherCard{
    border-radius: 20px;
    background-color: white;
    width: 80%;
    padding: 20px;
    margin-bottom: 200px;
}
#extraData {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    height: 70px;
}
#extraData p {
    margin-right: 20px;
}
h1 {
    margin: 0;
}
#teacherListAvatar {
    border-radius: 20px;
    width: 200px;
    object-fit: contain;
}
#teacherCardName {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.favoriteDisable>svg {
    fill: lightgray;
}
.favoriteDisable>svg:hover {
    fill:rgb(252, 206, 109);
  
}
.favoriteEnable>svg{
    fill:rgb(252, 206, 109);
    
}
.favoriteEnable>svg:hover {
   fill: lightgray;
}
.favoriteButton {
    outline: none;
    background:none;
    border: none;
}
.favoriteButton:hover {
    cursor: pointer;
}
.favoriteButton>svg {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}