#teacherCard{
    border-radius: 20px;
    background-color: var(--branco);
    width: 80%;
    padding: 20px;
    margin-bottom: 200px;
}
#extraData {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    height: 70px;
}
#extraData p {
    margin-right: 20px;
}
h1 {
    margin: 0;
}
#teacherListAvatar {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
#teacherCardName {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.favoriteDisable>svg {
    fill: var(--cinza3);
}
.favoriteDisable>svg:hover {
    fill: var(--amarelo);
  
}
.favoriteEnable>svg{
    fill: var(--amarelo);
    
}
.favoriteEnable>svg:hover {
   fill: var(--cinza4);
}
.favoriteButton {
    outline: none;
    background:none;
    border: none;
}
.favoriteButton:hover {
    cursor: pointer;
}
.favoriteButton>svg {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

.sendInvite{
    width: 2vw;
    height: 2vw;
    background-color: var(--verde);
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.sendInvite svg {
    fill: var(--branco);
}

.sendInvite:hover {
    background-color: var(--verde2);
}