#teacherCard{
    border-radius: 20px;
    background-color: var(--branco);    
    width: 500px;
    margin-bottom: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 30px;
}
#teacherCard h1 {
    text-align: center;
}
#avatarSection {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    background-color: var(--roxo1);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#extraData {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    height: 70px;
}
#extraData p {
    margin-right: 20px;
}

#teacherCardName>h1 {
    margin: 0;
    height: 70px;   
}

#teacherListAvatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.sendInvite{
    background-color: var(--verde);
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    font-size: 1.5em;
    padding: 20px;
}

.sendInvite svg {
    fill: var(--branco);
}

.sendInvite:hover {
    background-color: var(--verde2);
}

@media (max-width: 700px) {
    #teacherCard {
        width: 80vw;
    }
}