#student-container {
    background-image: url("../../assets/images/imgs/matriceLight.png");
    width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-window {
    width: 25%;
    padding-bottom: 60px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-window header {
    background-color: var(--roxo1);
    height: 7.5vh;
    min-height: 7.5vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#login-window input {
    width: 80%;
}

#login-window h1 {
    font-size: 2em;
    font-weight: 600;
}
#password-forgot {
    align-self: flex-end;
    color: var(--roxo1);
    text-decoration: none;
    transition: 0.5s;
    font-size: 0.9em;
    margin-right: 10%;
}
#password-forgot:hover {
    text-decoration: underline;
}
#create-student {
    align-self: flex-end;
    color: #000;
    text-decoration: none;
    margin-right: 10%;
    transition: 0.5s;
    margin-bottom: 30px;
    font-size: 0.9em;
}
#create-student a {
    color: var(--roxo1);
    text-decoration: none;
    transition: 0.5s;
}

#create-student a:hover {
    text-decoration: underline;
}

.btn {
    width: 80%;
    margin-top: 1rem;
}

@media (max-width: 700px) {
    #login-window {
        width: 90%; 
        min-width: 1px; 
    }
    #login-window header {
        height: 10vh; 
        min-height: 10vh; 
    }
    #login-window h1 {
        font-size: 1.6em; 
    }
    #create-student {
        margin-right: 5%; 
        font-size: 1em; 
    }
    #login-window input {
        width: 100%;
    }
    .btn {
        width: 80%; 
        margin: 0.5rem;
    }
}