#classScheduleItem{
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--branco2);

}

#classScheduleItem>div>div,
#weekDayItem {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#classScheduleItem p {
    margin: 0;
    margin-bottom: 10px;
}

#edit,
#delete{
    width: 94px;
    height: 50px;
    background-color: var(--roxo1);
    color: var(--branco);
    font-size: 1.2rem;
    border: none !important;
    border-radius: 10px;
    font-family: Poppins;
    margin: 1vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

#edit:hover,
#delete:hover{
    background-color: var(--roxo2);
    scale: 1.05;

}

select {
    margin-bottom: 10px;
    width: 150px;
    text-align: center;
    height: 2.6rem;
    border-radius: 0.8rem;
    border: 1px solid var(--roxo1);
    outline: 0;
    padding: 0 1.6rem;
    font: Poppins;
    font-size: 1rem;
  }

#timeContainer,
#btnContainer {
    gap: 20px;
    display: flex;
}