#link {
  background-color: var(--roxo1);
  font-size: 3em;
  min-width: 40%;
  text-align: center;
  color: white;
  font-family: Poppins;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  padding: 20px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#link:hover {
  scale: 1.05;
}

#icn {
  margin-right: 1vw;
  margin-left: -4.5vw;
  margin-top: 0.5vh;
  width: 3.5vw;
  height: 3.5vw;
}

#lbl {
  width: 80%;
}
@media (max-width:1400px) {
  #icn {
    margin-right: 0;margin-top: -3vh;
    margin-left: 1vw;
    width: 3vw;
    height: 3vw;
  }
  #lbl {
    width: 90%;
  }
}
@media(max-width: 1250px) {
  #icn {
    margin-right: 1vw;
    margin-top: 0.5vh;
    width: 4vw;
    height: 4vw;
  }
}
@media(max-width: 800px) { 
  #icn {
   width: 4.5vw;
   height: 4.5vw;
  }
}
@media(max-width: 500px) {
  #icn {
    width: 5vw;
    height: 5vw;
   }
}
