#classesContainer{
    background-color: var(--branco2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#classesForm{
    width: 50vw;
    height: 10vh;
    margin: 2vh 0;
    padding: 1.2rem;
    text-decoration: none;
    background-color: var(--roxo1);
    color: var(--branco2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

#classesForm section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#classesForm section select {
    margin: 0;
}

#classesForm button {
    width: 5vw;
    height: 4.5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--verde3);
    color: var(--branco2);
    font-size: 3rem;
    cursor: pointer;
    transition: 0.2s;
}

#classesForm button:hover {
    color: #c7c5c5;
    background-color: var(--verde4);
    scale: 1.05;
}

#add{
    width: 30vw;
    height: 10vh;
    border: none;
    border-radius: 10px;
    background-color: var(--roxo1);
    color: var(--branco2);
    cursor: pointer;
    font-family: Poppins;
    font-size: 2rem;
    transition: 0.2s;
}

#add:hover {
    background-color: var(--roxo2);
    scale: 1.05;
}