#teacherList-filters{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#teacherList-filters select {
    margin-right: 20px;
}
#teacherList-container{
    background-image: url("../../assets/images/imgs/matriceLight.png");
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    min-height: 80vh;
}