#teacherListFilters {
    width: 50%;
    margin: 2vh auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

#separator {
    display: flex;
}

#teacherListFilters select {
    margin-right: 20px;
}

#teacherListContainer {
    background: var(--cinza1);
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    min-height: 80vh;
}

#pesquisar {
    background-color: var(--verde);
    grid-column: span 2; 
    color: var(--branco);
    border: none;
    font-size: 2em;
    font-family: Poppins;
    width: 25%;
    margin: 2rem;
    border-radius: 20px;
    font-weight: 600;
    transition: 0.2s;
}

#pesquisar:hover {
    cursor: pointer;
    background-color: var(--verde2);
    scale: 1.1;
}

@media (max-width: 700px) {
    #separator {
        flex-direction: column;
    }
    #teacherListFilters label {
        width: 100px;
    }
    #teacherListFilters select,
    #teacherListFilters input{
        width: 150px;
    }
}