#areaContainer {
  display: flex;
  width: 100%;
}

#areaAside {
  background-color: var(--roxo1);
  width: 120px;
  height: 1000px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#areaAside i {
  margin-top: 30px;
  font-size: 50px;
  color: white;
  transition: 0.3s;
}

#areaAside i:hover {
  scale: 1.1;
  cursor: pointer;
}

.sendToProfile {
  margin: 3vh 0;
  width: 20vw;
  height: 10vh;
  border: none;
  border-radius: 20px;
  padding: 1vh 1vw;
  background-color: var(--cinza2);
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--cinza1);
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.2s;
}

.sendToProfile:hover {
  scale: 1.01;
  box-shadow: 0 0 10px #222;
}

.sendToProfile span {
  margin-left: 1vw;
}

#teacherList {
  height: 10vh;
  margin: 2vh 0;
  padding: 20px;
  text-decoration: none;
  background-color: var(--roxo1);
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 2em;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#teacherList:hover {
  background-color: var(--roxo2);
  scale: 1.01;
}
