#areaContainer {
  display: flex;
  width: 100%;
  background: var(--cinza1);
  min-height: 100vh;
}

#areaAside {
  background-color: var(--roxo1);
  position: absolute;
  width: 120px;
  height: 1000px;
  display: flex;
  flex-flow: column;
  align-items: center;
  transition: .5s;
  overflow: hidden;
}

#iconAside {
  margin-top: 30px;
  font-size: 50px;
  color: var(--branco2);
  transition: 0.3s;
}
.asideClosed {
  width: 0% !important;
}

#iconAside:hover {
  scale: 1.1;
  cursor: pointer;
}

.content{
  display: flex;
  width: 100%;
  flex-direction: column !important;
}
