:root {
  --roxo1: #8a5ac9;
  --roxo2: #593c7e;
  --branco: #faf7fc;
  --preto: #0b0024;
  --cinza1: #b9b9b9;
  --cinza2: #252525;
  --cinza3: #e7e3e7;
  --verde: #3add55;
  --verde2: #0b7a1e;
}

body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

