button {
    background-color: var(--roxo1);
    color: #fff;
    border: none;
    font-size: 2em;
    font-family: Poppins;
    border-radius: 20px;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: 0.2s;
}
button:hover {
    cursor: pointer;
    
    scale: 1.1;
}

